@model GameLibraryModel

@{
    ViewData["Title"] = "Games";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Games</h1>
    @foreach (var game in Model.Games)
    {
        <a href="Details/@game.Id">@game.Name</a>
    }
</div>